<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="RestFull.RestDemoService" >
        <endpoint contract="RestFull.IRestDemoService" binding="webHttpBinding"  bindingConfiguration="binding1" >
        </endpoint>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="binding1">
          <readerQuotas maxStringContentLength="2024000000"  />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>